#income-chart.column {
    height: 500px;
    --color: linear-gradient(#469fdf, #2487ce);
  }

table.charts-css.column{
    border: 2px solid black;
}

  td {
    color: #00FF00;
  }

  #motion-effect tr {
    transition-duration: 0.3s;
  }
  #motion-effect tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #motion-effect tr:hover th {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }
  #motion-effect td .data {
    transition-duration: 0.3s;
    transform: scale(0);
  }
  #motion-effect td:hover .data {
    transform: scale(1);
  }