#income-chart.column {
    height: 400px;
    max-width: 500px;
    margin: 50px auto 50px auto;
    --color: #4444FF;
  }

table.charts-css.column{
    border: 2px solid black;
}

  td {
    color: #00FF00;
  }

  #motion-effect tr {
    transition-duration: 0.3s;
  }
  #motion-effect tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  #motion-effect tr:hover th {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }
  #motion-effect td .data {
    transition-duration: 0.3s;
    transform: scale(0);
  }
  #motion-effect td:hover .data {
    transform: scale(1);
  }